.custom-btn {
    background-color: yellow;
    border: 1px solid #000;
    color: #000;
    padding: 12px 30px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s;

}

.custom-btn:hover {
    transform: scale(1.05);
}