.card {
    position: relative;
    width: 150px;
    height: 200px;
    perspective: 1000px;
}

/* Gestion de l'animation 3D */
.card>div {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin: center;
}

.card>div.flipped {
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 3px solid #333;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card .front {
    transform: rotateY(180deg);
    background-color: #000;
    object-fit: contain;
    padding: 10px;
}

.card .back {
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    object-fit: cover;
}