* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #242424;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}